header 
    .container.p-1
        .row.justify-content-center
            .col-1
                figure 
                    img(class="img-fluid img-logo rounded float-end", src="presente.jpg")

            .col-11
                h1 Sorteio Amigo Secreto

        .row.justify-content-center.mt-3
            .col-2
                a(class="btn btn-primary", href=dados.btn_link) 
                    i(class=dados.icon)
                    |  #{dados.btn_text}
                
            .col-3.offset-3
                h4 #{dados.text}

            .col-3.text-end
                small #{dados.email}

            .col-1.b
                a(href="/logout", class="btn btn-primary") Sair